

@using SportsEquipmentShop.Models;

<h1 id="ShoeTitle">Sport Shoes</h1>
<div class="SectionTshirts">
    <label for="Shoes">Sort By:</label>
    <select name="Shoes" id="shirtsSelect">
        <option class="options" value="choose">choose</option>

        <option class="options" value="true">cheap-expensive</option>
    </select>
    <button type="button" class="btnsort" onclick="location.href= '/Shoes/SortByPriceShoes'">Sort</button>
</div>


<button onclick="location.href= '/Shoes/OnSale'" class="btnsort" type="button">Shoes On Sale</button>
<br />

@foreach (Shoe item in Model)
{
    <section id="ShooesData">
        <div>

            <p class="ShoeTitle">
                @item.Company

                @item.Model
            </p>

            <h4 class="ShoeTitle">  @item.price $</h4>

            <img id="ShoeImage" src=@item.image>


        </div>
    </section>

}


