



<section id="SectionIdentification">




    <h1>welcome maneger!</h1>

    <label for="ID">Id</label>
    <input class="inputIdent" type="text" />

    <label for="password">Password</label>
    <input class="inputIdent" type="password" />


    <a href="@Url.Action("managersTableEquipment","SportsEquipment")" class="btn"><button type="button">Enter</button></a>


</section>



